<h1><a href='/'> OJ MODJESKA</a></h1>
<section>
  <img src="<%=image_url('ojmodjeska.jpg')%>"/>
  <div>
    <p>
      OJ Modjeska is an independent theorist of madness, crime, power and the
      world. She writes general interest articles and narrative non-fiction true
      crime. Her writings are informed by insights into history, criminology,
      ponerology – the science of evil, and forensic psychology.
    </p>
    <p>
      Modjeska has a PhD in modern American history and a Graduate Diploma in
      Criminology from the University of Sydney. In 2015 she was awarded the JH
      McClemens Memorial Prize by Sydney Law School for her scholarship in
      criminology.
    </p>
    <p>
      Before turning to writing full-time she worked for many years as a legal
      writer and editor.
    </p>
    <p>
      In 2016 Modjeska joined Blackwing Press as an author. The mission of
      Blackwing Press is to support academic writers in transforming their work
      and expertise for general interest audiences and readership.
      <a href='https://annette-hamilton.com/blackwing-press/'>
        Read more...
      </a>
    </p>
  </div>
</section>
<section>
  <h3>NEWS</h3>
  <p>news news news ...
  </p>
</section>
<section class='writing'>
  <h3>WRITING</h3>
  <p>
    <a href='https://annette-hamilton.com/blackwing-press/'>
      Blackwing Press
    </a>
    <a href='http://ojmodjeska.blogspot.com.au/'>
      Blog
    </a>
    <a href='https://independent.academia.edu/ObeliaModjeska'>
      Academia.org
    </a>
    <a href='https://www.facebook.com/ojmodjeska/'>
      Facebook
    </a>
    <a href='https://twitter.com/OJModjeska'>
      Twitter
    </a>
  </p>
</section>
<section>
  <h3>CONTACT</h3>
  <p>
    <a href='/contacts'>
      Get in touch
    </a>
  </p>
</section>
