<h1> Blackwing</h1>
<section>
  <img src="<%=image_url('blackwing.jpg')%>"/>
  <div>
    <p>
      Blackwing means accessible writing informed by scholarly and provocative perspectives, for all ages and people. Our mission is supporting  research-based writers to transform their work and expertise for general interest audiences and wider readership. Named for the exciting call-out of the red-tailed black cockatoo and for the famous Blackwing Palomino pencil  with its distinguished reputation among writers  (see here) Blackwing aims to bring a new voice to local writing and publishing.
    </p>
    <p>
      Blackwing Press, established in 2015, is the imprint of an established small author cooperative. We are currently publishing titles in children’s fiction, well-written genre fiction and non-fiction. We are not currently accepting proposals, however we would like to hear from you if you are interested in our mission and feel it aligns with your own. See the contact form below.
    </p>
    <p>
      Blackwing Press is a registered trading name and operates from Katoomba in the Blue Mountains near Sydney NSW.
    </p>
    <p>
      Enquiries about  Blackwing Press publications should be directed to:
    </p>
    <p>
      Blackwing Press
      <br/>
      PO Box 3
      <br/>
      Katoomba NSW 2780
      <br/>
      AUSTRALIA
    </p>
    <p>
      EMAIL communications can be directed through the CONTACT section of the Blackwing website – click below.
    </p>
    <p>
      <a href='https://annette-hamilton.com/contact/'>
        Contact
      </a>
    </p>
    <p>
      Logo  by Keith Draws, 2016. Copyright.
    </p>
  </div>
</section>
