.hidden { display: none; }

h1 {
  font-family: 'Cormorant Garamond';
  color: #A94E4C;
}

body {
  background-color: #4A4A4A;
  font-family: "PT Sans";
  color: #fff;
}

.center {
  margin: auto;
  width: 50%;
}

/*flash*/

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}
